@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/*@import url("https://www.dafont.com/vcr-osd-mono.font");*/

/* {margin: 0; 
    padding: 0;
     box-sizing: border-box;
     font-family: "";
    } */

 /*for the whole website backbround*/
.website{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    background-image: linear-gradient(#BE0071, #050032);
    color: #fff;
    height: 100vh;
    z-index: -1;
}

.logo{
    height: 4%;
    width: 4%;
    
}

.nav-div{
    padding: 20px;
    display: inline-flex;
    color: white;
    font-weight: bold;
}
.nav-bar a:hover{
    background-color: inherit;
    color: #000;
    }

.nav-tags{
    font-size: 20px;
    padding-left: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
  /* height: 150px; */
}

/*Event Description - first section*/

.Event{
    display: inline-block;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;

}

/*style for section heading - e.g. welcome to hubconf*/
.Event .heading{
    width: 50%;
    text-align: center;
    align-items: center; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 35px;
    /* display: flex; */
    z-index: 1;
    display: inline-block;

}

/*style for body text under Welcome to hubconf*/
.Event .content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.Event .content p{
    text-align: left;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight:400;
    font-size: 16px;
    max-width: 50%;
    

  
}

/*png "line"*/
.motherboard{
    display: inline-block;
    width: 25%;
}